<!--{include file="`$theme_name`/header.html" page_title="`$_search_offer`"}-->

<div id="main" class="container">
  
  <div class="ads">
    <div class="fullsrceen_ad"><!--{pb:ads typeid=2 name="ads1"}--><span>{$ads1.link}</span><!--{/pb:ads}--></div>
  </div>

  <div class="row">
    <div class="side-bar l-col span5">
      <div class="mod">
        <div class="mod-hd">
          <h2>{lang new_offer}</h2>
        </div>
        <div class="mod-bd">
          
              <h4><span id="currentDate">{lang today_is}{$smarty.now|date_format:"%Y-%m-%d"}</span></h4>
                
              <ul class="info-list">
              <!-- {pb:offer row=10 name="item"} -->
                <li class="even">
                <span class="even_width">{$item.link}</span>
                <span class="even_padding">[{$item.typename}]</span>
                <span class="even_padding">{$item.pubdate}</span>
                </li>
              <!-- {/pb:offer} -->
              </ul>
        </div>
      </div>
      
    </div>
    <div class="main-content c-col span8">
      <div>{pb:ads typeid=3}<!-- This text is replaced by the Flash movie. -->{/pb:ads}</div>
    </div>
    <div class="side-bar r-col span4">
      <div class="mod">
        <div class="mod-hd">
          <h5>{lang welcome_join}{$site_name}</h5>
        </div>
        <div class="mod-bd">
            <div class="offer_list_top3_c1 cursor-hand">
              <ul class="info-list">{lang offer_introduction}</ul>
            </div>
            <div class="offer_list_top3_c2">
              <h2><span><a href="member.php" title="{lang free_reg}">{lang free_reg}</a></span></h2>
              {lang reg_and_upgrade_vip}
              {lang service_hotline}<span class="font14" >{$service_tel}</span>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="side-bar l-col span5">
      <div class="mod">
        <div class="mod-hd">
          <h2>{lang urgent_buy}</h2>
        </div>
        <div class="mod-bd">
          <ul class="info-list">
            {pb:offer row=8 name="item"}
            <li>{$item.link}</li>
            {/pb:offer}
          </ul>
        </div>
      </div>
      <div class="mod">
        <div class="mod-hd">
          <h2>{lang commend} {lang seller}</h2>
        </div>
        <div class="mod-bd">
            <ul class="info-list">
               {pb:company row=8}
               <li>{$company.link}</li>
               {/pb:company}
            </ul>
        </div>
      </div>  
      <div class="mod">
        <div class="mod-hd">
          <h2>{lang stored_product}</h2>
        </div>
        <div class="mod-bd">
          <ul class="info-list">
             {pb:product row=8 name="item"}
             <li>{$item.link}</li>
             {/pb:product}
          </ul>
        </div>
      </div>    
    </div>
    <div class="main-content r-col span12">
        <div class="mod">
          <div class="mod-hd">
            <h3><a href="{the_url module=search industryid=`$item0.id` do=offer}">{$item0.name}</a><a href="offer/list.php?industryid={$item0.id}">{lang more}</a></h3>
          </div>
          <div class="mod-bd">
            <!-- {get var="IndustryList" from="industry"} -->
                <!--{foreach from=$IndustryList item=item0 key=key0 name=level_0}-->
                
                {if $item0.sub}
                <!--{foreach from=$item0.sub name=level_1_industry item=level1 key=key_level1}-->
                <div class="fl">
                    <a href="{the_url module=search industryid=`$level1.id` do=offer}" title="{$level1.name}" class="co_type_f">{$level1.name}</a>
                    <br />
                    <!--{foreach from=$level1.sub name=level_2_industry item=level2 key=key_level2}-->
                    <a href="{the_url module=search industryid=`$level2.id` do=offer}" title="{$level2.name}">{$level2.name}</a><em>|</em>
                    <!--{/foreach}-->
                </div>
                <!--{/foreach}-->
                {/if}
            <!--{/foreach}-->
          </div>
        </div>  

    </div>
  </div>
</div>
<script>
$("#SearchFrm").attr("action","offer/list.php");
$("#topMenuOffer").addClass("lcur");
</script>   
</script>
<!--{include file="`$theme_name`/footer.html"}-->