<!--{include file="`$theme_name`/header.html" page_title="`$_wholesale`" nav_id=11}-->
<script src="scripts/swfobject1.5.js" type="text/javascript"></script>
<div id="main" class="container">
	<div class="row">
		<div class="span4 side-bar l-col">
			<div class="mod">
				<div class="mod-hd">
					<h3><span class="title_more"><a href="{the_url module=search do=news}"><span class="raquo">&raquo;</span>{lang more}</a></span>{lang latest_news}</h3>
				</div>
				<div class="mod-bd">
					<ul class="unstyled">
					<!-- {pb:news row=5 titlelen=34 infolen=22 name="item"} -->
						<!-- {if $item.rownum==0 && $item.src neq ''} -->
						<li style="height:90px; background:url({$item.src}) no-repeat; padding:0 0 0 90px; overflow:hidden; width:120px;"><h3  style="padding:0 0 0 5px;">{$item.link}</h3>{$item.content}</li>
						<!-- {else} -->
						<li>{$item.link}</li>
						<!-- {/if} -->
					<!-- {/pb:news} -->
					</ul>
				</div>
			</div>	
		</div>
		<div class="span9 main-content c-col">
			<div class="main_left_img" id="marketFocus"></div>
		</div>
		<div class="span4 side-bar r-col">
			<div class="mod">
				<div class="mod-hd">
					<h2>{lang after_free_reg}</h2>
				</div>
				<div class="mod-bd">
					<div class="cl">
						<p><a>{lang build_your_site}</a></p>
						<p><a>{lang post_offer_trade}</a></p>
						<p><a>{lang spread_your_products}</a></p>
						<p><a>{lang meet_more_friends}</a></p>
						<p><a class="btn" href="virtual-office/offer.php?do=edit&typeid=11" title="{lang register}">{lang post_wholesale_info}&nbsp;&raquo;</a></p>
				   	</div>
				</div>
			</div>	
		</div>
	</div>

	<!-- {pb:industry include="1,2,3"} -->
	<div class="row">
	   	<div class="span13 main-content l-col">
	   		<div class="mod">
	   			<div class="mod-hd">
	   				<h3><span class="title_more"><a href="offer/list.php?industryid={$industry.id}&typeid=4"><span class="raquo">&raquo;</span>{lang more}</a></span>{$industry.title}</h3>
	   			</div>
	   			<div class="mod-bd">
	   				<ul class="info-list media-list">
						<!-- {pb:offer row=12 type="image" depth=1 industryid=`$industry.id` typeid=4} -->
						<li class="item-quarter"><a href="{$offer.url}" class="image"><img src="{$offer.src}" width="100" height="80" alt="{$offer.name}" /></a>
						  <p class="title">{$offer.link}</p>
						  <p class="price">{lang wholesale_price}<span>{$offer.price}</span></p>
						</li>
						<!-- {/pb:offer} -->
				  	</ul>
	   			</div>
	   		</div>	
					  
	   	</div>
		<div class="span4 side-bar r-col">
			<div class="mod">
				<div class="mod-hd">
					<h3><span class="title_more"><a href="offer/post.php?typeid=4&industryid={$industry.id}"><span class="raquo">&raquo;</span>{lang free_post}</a></span>{$industry.title}</h3>
				</div>
				<div class="mod-bd">
					<ul class="info-list">
					  <!-- {pb:offer row=12 name="item1" depth=1 titlelen="12" industryid=`$industry.id` typeid=4} -->
					  <li><span>{$item1.link}</span><em>{$item1.price}</em></li>
					  <!-- {/pb:offer} -->
				   	</ul>
				</div>
			</div>	
		</div>
	</div>
	<!-- {/pb:industry} -->
	<div class="mod">
		<div class="mod-bd">
			{lang law_statement}
		</div>
	</div>
		
</div>
<!-- {get from="market" var="slides" size="big" row=4} -->
<script>
var var_image = "{$slides.image}";
var var_url = "{$slides.url}";
var var_info = "{$slides.info}";
var myflash = new SWFObject("images/slide.swf", "27", 472, 220, "7", "#F3F3F3");
myflash.addParam("quality", "high");
myflash.addParam("wmode", "opaque");
myflash.addVariable("image",var_image);
myflash.addVariable("url",var_url);
myflash.addVariable("info", var_info);
myflash.addVariable("stopTime","5000");
myflash.write("marketFocus");
$("#SearchFrm").attr("action","offer/list.php");
$("#topMenuOffer").addClass("lcur");
</script>
<!--{include file="`$theme_name`/footer.html"}-->