<!--{include file="`$theme_name`/header.html" page_title="`$_market`" nav_id=7}-->
<style type="text/css">
@import url({$theme_img_path}css/effect.css);
</style>
<script src="scripts/jquery.tools.js"></script>
<!--{literal}-->
<script language="javascript" type="text/javascript">
<!--
function setImg(img,width,height){ 
    var scale_w=img.width/width; 
    var scale_h=img.height/height; 
    var scale=scale_w>scale_h?scale_w:scale_h; 
     img.width=img.width/scale; 
    return false; 
}
-->
</script>

<!--{/literal}-->


<div id="main" class="container">
	<div class="row">
		<div class="span4">
			<div class="mod">
				<div class="mod-hd">
					<h2>{lang added_market}</h2>
				</div>
				<div class="mod-bd">
					<h3 style="text-align: center;"><a href="market/add.php">{lang i_would_join}</a></h3>
				</div>
			</div>

			<div class="mod">
				<div class="mod-hd">
					<h2>{lang area_category}</h2>
				</div>
				<div class="mod-bd">
					<ul class="info-list">
						{area level=1 name="item"}
						  <li><a href="{the_url module=search do=market areaid=`$item.id` level=1}">{$item.title}</a></li>
						{/area}
				   	</ul>
				</div>
			</div>
		</div>
		<div class="span13">
			<ul class="media-items-grid">
			<!-- {pb:market row=12 type="image"} -->
			<li class="media-item two-cols-item">
			
					<a class="image" title="{$market.name}" href="{$market.url}"><img src="{$market.src}"></a>
					
					<p class="name">{lang market_name_n}{lang colon}{$market.link}<br>
					{lang mainly_products}<span title="{$market.main_business}">{$market.main_business|truncate_multi:16}</span></p>
			
				
			</li>
			<!-- {/pb:market} -->
		</ul>
		</div>
	</div>

</div>

<!--{include file="`$theme_name`/footer.html"}-->