<!--{include file="`$theme_name`/header.html" page_title="`$site_name``$_service_license`" nav_id="`$nav_id`"}-->
<!-- {get_cache name="agreement"} -->
<div id="main" class="container">
  <div class="breadcrumb"><span>{$position}</span></div>
  <div class="row">
    <div class="main-content l-col span17">
      <div class="mod">
        <div class="mod-hd">
          <h2>{$site_name} {lang agreement}</h2>
        </div>
        <div class="mod-bd">
          <div class="content_body">{$agreement}</div>
        </div>
      </div>
    </div>
    
  </div>
</div>


<!--{include file="`$theme_name`/footer.html"}-->