<!-- 
The Name:Default
Description:Default Page Template
-->
<!--{include file="`$theme_name`/header.html" page_title="`$page_title`" nav_id="`$nav_id`"}-->
<div id="main" class="container">
    <div class="breadcrumb">{$position}</div>
	<div class="row">
		<div class="side-bar l-col span4">
			<div class="mod">
				<div class="mod-hd"></div>
				<div class="mod-bd">
					<ul>
						{userpage row=15 name="userpage"}
						<li class="{if $item.id eq $userpage.id}sel{/if}">{$userpage.link}</li>
						{/userpage}				
					</ul>
				</div>
			</div>
		</div>
		<div class="main-content r-col span13">
			<div class="mod">
				<div class="mod-hd">
					<h2 class="abTit">{$item.title}</h2>
				</div>
				<div class="mod-bd">
					<p>{$item.content|nl2br}</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!--{include file="`$theme_name`/footer.html"}-->