<!--{include file="`$theme_name`/header.html" page_title="`$page_title`" nav_id="`$nav_id`"}-->
<div id="main" class="container">
	<div class="breadcrumb"><span>{$position}</span></div>
	<div class="mod">
		<div class="mod-hd">
			<h3>{$item.title}</h3>
		</div>
		<div class="mod-bd">
			<div class="row">
				<div class="span3">
					{if $item.picture}
					<div class="detailtopconleft">
						<p class="left1"><img src="{$item.image}" alt="" width="80" height="80" /></p>
						<p class="left2"><a href="misc.php?source={$item.image_url}" target="_blank"><img src="{$theme_img_path}images/detail_17.jpg" alt="" /></a><span>{lang enlarge_image}</span></p>
					</div>
		            {/if}
				</div>
				<div class="span5">
					<p>{$item.title}</p>
					<p>{lang publish_time}{$item.pubdate}</p>
					  <!-- {if $item.price} --><p>{lang the_price_n}<em class="value">{$item.price}</em></p><!-- {/if} -->
					  <p>{lang area}{$item.area_names}</p>
	                   <p>{lang belong_industry}{$item.industry_names}</p>
					   <!-- {if $item.tag} --><p>{lang keyword}{$item.tag}</p><!-- {/if} -->
					<p style="text-align: center;margin:5px;">
						<br />
						<label>
						  <input type="button" name="favor" value="{lang to_inquiry}"  class="btn" onclick="redirect('{$SiteUrl}product/inquery.php?id={$item.id}');" />
						</label>
	                   {if $pb_userid==$item.member_id}
						<label>
						  <input type="button" name="edit" value="{lang to_edit}"  class="btn" onclick="redirect('{$SiteUrl}virtual-office/product.php?do=edit&id={$item.id}');" />
						</label>
						{/if}
						 {if $pb_username}
						<label>
						  <input type="button" name="price" value="{lang to_price}"  class="btn" onclick="redirect('{$SiteUrl}virtual-office/price.php?do=edit&productid={$item.id}');" />
						</label>
	                    {/if}
					</p>

				</div>
				<div class="span8">
					<p class="right1">{if $item.companyname}
					<a href="{the_url module=space userid=`$item.space_name`}" target="_blank" title="{$item.companyname}">{$item.companyname}</a>{else}{lang released_by_personnal}{/if}</p>
					<p>{lang contact_people}{$item.link_people}<br />
					{lang member_type}<img src="{$MEMBER.groupimage}" alt="{$MEMBER.groupname}" /><br />
					{lang reputation_index_n}{$MEMBER.credits}<br />
					{lang authentication_type}{$MEMBER.trust_image}<br />
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="main-content l-col span11">
			<div class="mod">
				<div class="mod-hd">
					<h3>{lang details}</h3>
				</div>
				<div class="mod-bd">
					{$item.content|nl2br|stripslashes}
					   <!-- {if $ObjectParams} -->
						<table width="578" border="0" class="table_param">
						<caption>{$item.title}{lang specifications}</caption>
		                <tr> 
		                    <th>&nbsp;</th><th>{lang content_n}</th> 
		                </tr> 
		                <!--{foreach from=$ObjectParams name=op item=tparam}-->
							<tr>
							  <td>{$tparam.label}</td>
							  <td>{$tparam.value}</td>
						</tr>
		               	<!--{/foreach}-->
					   </table>
					<!-- {/if} -->
				</div>
			</div>
		</div>
		<div class="side-bar r-col span6">
			
			{if $pb_username==""}
			<div class="mod">
				<div class="mod-hd">
					<h3>{lang members_view}</h3>
				</div>
				<div class="mod-bd">
					<p>{lang register_site_member}
                            <input type="button" name="btn" value="{lang login}" onclick="redirect('{$SiteUrl}logging.php?forward={$smarty.server.REQUEST_URI}');" class="btn_submit"></p>
					<p>{lang not_register_site_member}<input type="button" name="btn" value="{lang free} {lang register}" class="btn_submit" onclick="redirect('{$SiteUrl}member.php');">{lang registered_site_member} 
	                </p>
				</div>
			</div>

            {else}
            <div class="mod">
				<div class="mod-hd">
					<h3>{lang contact}</h3>
				</div>
				<div class="mod-bd">
					<p>{lang address}{$item.address}<br /> 
				   	{lang zip}{$item.zipcode}<br /> 
				   	{lang phone}{$item.tel}<br />
				   	{lang fax}{$item.fax}<br /> 
				   	{lang website}{lang colon}{$item.site_url}
				   	</p>
				</div>
			</div>
			
            {/if}
            <div class="mod">
				<div class="mod-hd">
					<h3>{lang add_information_release}</h3>
				</div>
				<div class="mod-bd">
					<ul>
	                	{pb:product memberid=`$item.member_id` row=10 name="item"}
						<li>{$item.link}</li>
	                    {/pb:product}
					</ul>
				</div>
			</div>
			<div class="contacttype">
				
				
			</div>
			<div class="mod">
				<div class="mod-hd">
					<h3>{lang linked_product_price}</h3>
				</div>
				<div class="mod-bd">
					<ul>
	                	{price productid=`$item.id` row=10 name="item"}
						<li>{$item.link}</li>
	                    {/price}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$("#SearchFrm").attr("action","{the_url module=search}");
$("#hdDo").val("product");
$("#topMenuProduct").addClass("lcur");
</script>
<!--{include file="`$theme_name`/footer.html"}-->