<!--{include file="`$theme_name`/header.html" page_title="`$page_title`"}-->
<div id="main" class="container">
	<div class="breadcrumb"><span>{$position}</span></div>
	<div class="row">

		<div class="span13">
			<div class="service_center_txt">
	             <div class="intro">
	             <span>{lang focus_user_service}</span><em>{lang service_for_your_internet}</em>
	             </div>
	             <div class="title">{lang customer_service}</div>
         	</div>
			<div class="mod">
				<div class="mod-hd">
					<h3>{lang service_client}</h3>
				</div>
				<div class="mod-bd">
					<div>{$item.service_client}</div>
				</div>
			</div>	
		</div>
		<div class="span4">
			<div class="mod">
				<div class="mod-hd">
					<h3>{lang latest_tips}</h3>
				</div>
				<div class="mod-bd">
					<ul>
						{feed}
						  <li>[link:title]</li>
						{/feed}
					</ul>
				</div>
			</div>
			<div class="mod">
				<div class="mod-hd">
					<h3>{lang warm_reminder}</h3>
				</div>
				<div class="mod-bd">
					 <p>
					{lang reply_submit_issue}</p>    
					<p><h2>{lang contact_us}</h2><br />
					{lang service_hotline}{$service_tel}<br />
					{lang email}<br /><span>{mailto address="$service_email" encode="javascript"}</span></p>
				</div>
			</div>		
		</div>
	</div>	
</div>

<!--{include file="`$theme_name`/footer.html"}-->