<!--{include file="`$theme_name`/header.html" page_title="`$page_title`"}-->
<div id="main" class="container">
	<div class="breadcrumb"><span>{$position}</span></div>
	<div class="row">
		<div class="main-content l-col span13">
			<div class="service_center_txt">
             	<div class="intro">
             	<span>{lang focus_user_service}</span><em>{lang service_for_your_internet}</em>
             	</div>
             	<div class="title">{lang customer_service}</div>
        	</div>
			<div class="mod">
				<div class="mod-hd">
					<h3>{lang answered}</h3> 
				</div>
				<div class="mod-bd">
					<p><strong>{$item.title}</strong>{if $item.revert_date}<span>({lang reply_time}:{$item.revertdate})</span>{/if}</p>
                	<p>{$item.content|nl2br}</p>
				</div>
			</div>
			<div class="mod">
				<div class="mod-hd">
					 <h3>{lang answer_content}</h3>
				</div>
				<div class="mod-bd">
					<p>{$item.revert_content|nl2br}</p>
				</div>
			</div>
		</div>
		<div class="side-bar r-col span4">
			<div class="mod">
				<div class="mod-hd">
					 <h3>{lang latest_tips}</h3>
				</div>
				<div class="mod-bd">
					<ul>
						{feed row="10"}
						  <li>[link:title]</li>
						{/feed}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!--{include file="`$theme_name`/footer.html"}-->