<!--{include file="`$theme_name`/header.html" page_title="`$_yellow_page`"}-->
<div id="main" class="container">
    <div class="row">
        <div class="side-bar l-col span4">
            <div class="mod">
                <div class="mod-hd">
                    <h3>{lang yellow_page}</h3>
                </div>
                <div class="mod-bd">
                    {lang find_marketing_company}
                    <p><a href="{if $reg_filename!=''}{$reg_filename}{else}register.php{/if}?type=company" class="submit_w118">{lang add_company}</a></p>
                    <p class="hotline">{lang hotline}{$service_tel}</p>
                </div>
            </div>  
            
            <div class="mod">
                <div class="mod-hd">
                    <h3>{lang new_recommended_company}</h3>
                </div>
                <div class="mod-bd">
                    <ul class="info-list">
                        {pb:company row=11 name="item"}
                        <li>{$item.link}</li>
                        {/pb:company}
                    </ul>
                </div>
            </div>
            
            <div class="mod">
                <div class="mod-hd">
                    <h3>{lang sub_area}</h3>
                </div>
                <div class="mod-bd">
                    <ul class="info-list two-cols-list">
                    <!-- {assign var="do" value="company"} -->
                    <!-- {pb:area level=1 name="area"} -->
                        <li><a href="{$area.url}">{$area.title}</a></li>
                    <!-- {/pb:area} -->
                    </ul>
                </div>
            </div>
            
            <div class="mod">
                <div class="mod-hd">
                     <h3>{lang join_company}</h3>
                </div>
                <div class="mod-bd">
                    <ul class="info-list">
                        {pb:company row=10 name="item"}
                        <li>{$item.link}</li>
                        {/pb:company}
                    </ul>
                </div>
            </div>  


        </div>

        <div class="main-content r-col span13">
            <div class="mod">
                <div class="mod-hd">
                    <h4><span class="titlebg_m title_mouse">{lang industry_sort}</span></h4>
                </div>
                <div class="mod-bd">
                    <!-- {get var="IndustryList" from="industry"} -->
                    <!--{foreach from=$IndustryList item=item0 key=key0 name=level_0}-->
                    <div class="co_type_c_title clearfix">
                    <span class="more"><a href="{the_url module=special type=industry do=company id=`$item0.id`}">{lang more}</a></span>
                    <h3><em><a href="{the_url module=search do=company industryid=`$item0.id`}">{$item0.name}</a></em></h3>
                    </div>
                    <ul class="clearfix">
                    <!-- {if $item0.sub} -->
                    <!--{foreach from=$item0.sub name=level_1_industry item=level1 key=key_level1}-->
                       <li>
                        <a href="{the_url module=search do=company industryid=`$level1.id`}" title="{$level1.name}" class="co_type_f">{$level1.name}</a>
                        <br />
                        <!--{foreach from=$level1.sub name=level_2_industry item=level2 key=key_level2}-->
                        <a href="{the_url module=search do=company industryid=`$level2.id`}" title="{$level2.name}">{$level2.name}</a><em>|</em>
                        <!--{/foreach}-->
                    </li>
                    
                    <!--{/foreach}-->
                    <!-- {/if} -->
                    </ul>
                    <!--{/foreach}-->
                </div>

            </div>  

        </div>
    </div>
</div>

<script>
$("#SearchFrm").attr("action","{the_url module=search}");
$("#hdDo").val("company");
$("#topMenuCompany").addClass("lcur");
</script>
<!--{include file="`$theme_name`/footer.html"}-->