<!--{include file="`$theme_name`/header.html" page_title="`$page_title`"}-->
<div id="main" class="container">
  <div class="mod second-nav">
      <div id="second_all_nav">{lang category_nav}</div>
      <div class="news_nav_txt">
      <!-- {newstype row=25 level=1 name="item"} -->
      <a href="{the_url module=search do=news typeid=`$item.id`}">{$item.name}</a>
      <!-- {/newstype} -->
      </div>
  </div>

  <div class="row">
    <div class="side-bar l-col span4">
      <div class="mod ads">
        <!-- {pb:ads type="focus"} --><!-- This text is replaced by the Flash movie. --><!-- {/pb:ads} -->
      </div>
      <div class="mod">
        <div class="mod-hd">
          <h2>{lang hot_news}</h2>
        </div>
        <div class="mod-bd">
          <ul class="info-list">
            <!-- {pb:news row=10 titlelen="35" name="item" dateline=`$date_line`} -->
            <li>{$item.link}</li>
            <!-- {/pb:news} -->  
          </ul> 
        </div>
      </div>  
    </div>
    <div class="main-content c-col span9">
        <div class="mod ads">

        </div>
        <div class="mod">
          <div class="mod-hd">
             <h2>{lang latest_news}</h2>
          </div>
          <div class="mod-bd">
            <ul class="info-list two-cols-list">
              <!-- {pb:news row=44 titlelen="25" name="item"} -->
              <li><span class="hot_word"><a href="{the_url module=search do=news typeid=`$item.type_id`}">[{$item.typename}]</a></span>{$item.link}</li>  
              <!-- {/pb:news} -->
            </ul> 
          </div>
      </div>  
    </div>
    <div class="side-bar r-col span4">
        <div class="mod">
          <div class="mod-hd">
            <h2>{lang industry_info}</h2>
          </div>
          <div class="mod-bd">
            {$Calendar}
          </div>
        </div>
        
        <div class="mod special-news">
          <div class="mod-hd">
            <h2>{lang topic_news}</h2>
          </div>
          <div class="mod-bd">
             <ul class="info-list">
              <!--{topic type="news" row=3 name="item"}-->
                 <li>
                   <a href="{$item.url}" title=""><img src="{$item.src}"/></a>
                   <div>{$item.link}</div>
                 </li>
              <!--{/topic}-->
              </ul>
          </div>
        </div>  
    </div>
  </div>  
</div>

<script>
$("#SearchFrm").attr("action","{the_url module=search}");
$("#hdDo").val("news");
$("#topMenuNews").addClass("lcur");
</script>
<!--{include file="`$theme_name`/footer.html"}-->