<!--{assign var="page_title" value="`$_brands`"}-->
<!--{include file="header.html"}-->
<script src="../scripts/jquery/jquery.textbox.js" charset="{$charset}"></script>
<script>
var allows_maximum_input = "{lang allows_maximum_input}";
var can_also_enter = "{lang can_also_enter}";
</script>
<!--{literal}-->
<script>
jQuery(document).ready(function($) {
	$("#BrandDescription").textbox({
		maxLength: 255,
		onInput: function(event, status) {
			$("#txtTips").html(allows_maximum_input+" <strong style='font-family:Arial;font-size:1.5em;'>" + status.maxLength + "</strong> "+can_also_enter+" <strong style='font-family:Arial;font-size:1.5em;'>" + status.leftLength + "</strong>");
		}
	});
})
</script>
<!--{/literal}-->
<div id="main" class="container">
    <div class="row">
       <div class="span4 side-bar l-col">
         <!--{include file="menu.html"}-->
       </div>
    
     <div class="span12 main-content r-col">
    	<div class="page-header">
    		<h2>{lang brands}</h2>
    	</div>
    	<div class="mod">
    		<div class="mod-hd">
    			 <div class="hint">{lang must_input_with_star}</div>
    		</div>
    		<div class="mod-bd">
    			<form method="post" action="brand.php" enctype="multipart/form-data" onsubmit="$('#Save').attr('disabled',true);">
				  <!-- {formhash} -->
				  <input type="hidden" name="id" value="{$item.id}">
				  <input type="hidden" name="formattribute_ids" value="{$item.formattribute_ids}">
				  	<div class="clearfix">
				  		<label for="data[brand][name]">{lang brand_name}</label>
				  		<div class="input">
				  			<input name="data[brand][name]" type="text" id="dataBrandName" value="{$item.name}">
				  			<span>{lang words_length}</span>
				  		</div>
				  	</div>
				  	<div class="clearfix">
				  		<label for="data[brand][alias_name]">{lang brands}{lang alias_name}</label>
				  		<div class="input">
				  			<input name="data[brand][alias_name]" type="text" id="dataBrandAliasName" value="{$item.alias_name}">
				  			
				  		</div>
				  	</div>
				  	<div class="clearfix">
				  		<label for="data[brand][type_id]">{lang brand_type}</label>
				  		<div class="input">
				  			<select name="data[brand][type_id]" id="BrandTypeId">
			                           {$BrandtypeOptions}
								</select>	
				  		</div>
				  	</div>
				  	<div class="clearfix">
				  		<label for="data[brand][description]">{lang description}</label>
				  		<div class="input">
				  			<textarea name="data[brand][description]" id="BrandDescription" wrap="VIRTUAL">{$item.description}</textarea><div id="txtTips"></div>
				  		</div>
				  	</div>
				  	<div class="clearfix">
				  		<label for="pic">{lang brand_image}</label>
				  		<div class="input">
				  			<input name="pic" type="file" id="uploadfile" onchange="preview()" />
			                <p>{lang image_size_format_provision}</p>
				  		</div>
				  	</div>
				  	<div class="actions">
				  		<input name="save" type="submit" id="save" class="btn" value=" {lang confirm_submit} ">
				  	</div>
			      
			        
				</form>
    		</div>
    	</div>
     
</div>
</div>
</div>
<!--{literal}-->
<script>
var type_id="{$item.type_id|default:1}";
jQuery(document).ready(function($) {
$("#Brandtypes option[value='"+type_id+"']").attr("selected","selected");})
</script>
<!--{/literal}-->
<!--{include file="footer.html"}-->