<!--{assign var="page_title" value="`$_favorites`"}-->
<!--{include file="header.html"}-->
<div id="main" class="container">
  <div class="row">
    <div class="span4 side-bar l-col">
      <!--{include file="menu.html"}-->
    </div>
  
    
    <div class="span12 main-content r-col">
      <div class="page-header">
        <h2>{$page_title}</h2>
      </div>
      <div class="notice">
        {lang favorites_tips}
      </div>
    
         
      <form name="listfrm" action="{$smarty.server.PHP_SELF}" method="post">
	   <!-- {formhash} -->
        <table>
          <tbody>
            <tr>
              <th>{lang type}</th>
            <th>{lang title}</th>
            <th>{lang collection_time}</th>
            <th>{lang selected}</th>
            </tr>
         
			       <!--{foreach from=$Items item=item}-->
            <tr>
              <td class="orange">{$TradeTypes[$item.type_id]}</td>
              <td><a href="{$SiteUrl}offer/detail.php?id={$item.offerid}" target="_blank" style="text-decoration:  underline;">{$item.title}</a>&nbsp;</td>
              <td>{$item.pubdate}&nbsp;</td>
              <td><input name="id[]" type="checkbox" id="id_{$item.id}" value="{$item.id}"></td>
            </tr>
			     <!--{/foreach}-->
           </tbody>
          </table>
        
		    <!--{if $Items}-->
          <div class="actions">
             <input type="submit" class="btn" name="del" value="{lang delete_message}" onClick="return window.confirm{lang ok_delete}">
          </div>
       
		    {else}
        <div class="notice">
          {lang no_collection_message}
        </div>
		    <!--{/if}-->
        <div>{$ByPages}</div>
         
      </form>
      </div>
  </div>
</div>
<!--{include file="footer.html"}-->
