<!--{assign var="page_title" value="`$_friendlink`"}-->
<!--{include file="header.html"}-->
<div id="main" class="container">
    <div class="row">
       <div class="span4 side-bar">
         <!--{include file="menu.html"}-->
       </div>
    
     <div class="span12 main-content">
     <div class="page-header">
       <h2>{$page_title}</h2>
     </div>
     <div class="mod">
       <div class="mod-hd">
         <div><strong>{lang our_partners}</strong>{lang colon}<a href="link.php?do=edit"  class="btn">{lang add_partners}</a></div>
       </div>
       <div class="mod-bd">
         <form name="companylinkfrm" action="link.php" method="post">
        <!-- {formhash} -->
          <table class="news">
                <tr align="center">
                  <th><input type="checkbox" name="check_all" title="{lang all_select}"></th>
                  <th><strong>{lang company_name}</strong></th>
                </tr>
        <!--{foreach from=$Items item=item}-->
                <tr align="center" class="bggray">
                  <td><input type="checkbox" name="id[]" value="{$item.id}" rel="check_item"></td>
                  <td align="center"><a target="_blank" title="{lang access}{$item.title}" href="{$item.url}">{$item.title}</a></td>
                  </tr>
          <!--{foreachelse}-->
        <!--{/foreach}-->
        </table>
         <table class="trade_line">
            
          <tr align="center" valign="bottom">
            <td height="40"><input  name="delete" type="submit" id="delete" class="btn" value= "{lang delete_select}" onClick="return test();"></td>
          </tr>
        </table>
      </form>
       </div>
     </div>
          
	  
</div>
</div>
</div>
<!--{include file="footer.html"}-->
