<div id="admin-menu">
	<!--{if $menu.offer}-->
	<div class="mod">
		<div class="mod-hd">
			<h3>{lang business_information}</h3>
		</div>
		<div class="mod-bd">
			<p><a href="offer.php?do=edit">{lang release_supply}</a></p>
			<p><a href="offer.php">{lang our_offer}</a></p>
			<p><a href="favor.php">{lang our_favorites}</a></p>
			<p><a href="stat.php">{lang buy_statistics}</a></p>
			<p><a href="pms.php?type=inquery">{lang customer_inquiry}</a></p>
		</div>
	</div>
	<!--{/if}-->
	<!--{if $menu.product}-->
	<div class="mod">
		<div class="mod-hd">
			<h3>{lang information_management}</h3>
		</div>
		<div class="mod-bd">
			<p><a href="product.php?do=edit">{lang release_products}</a></p>
			<p><a href="product.php">{lang our_productse}</a></p>
			<p><a href="price.php">{lang my_product_price}</a></p>
			<p><a href="producttype.php">{lang categories_management}</a></p>
			<p><a href="brand.php">{lang brand_manage}</a></p>
		</div>
	</div>
	<!--{/if}-->
	<!--{if $menu.company}-->
	<div class="mod">
		<div class="mod-hd">
			<h3>{lang company_information}</h3>
		</div>
		<div class="mod-bd">
			<p><a href="company.php">{lang basic_information}</a> </p>
			<p><a href="album.php">{lang company_album}</a></p>
			<p><a href="card.php">{lang card_information}</a></p>
			<p><a href="news.php">{lang company_news}</a></p>
			<p><a href="job.php">{lang hr}</a></p>
			<p><a href="link.php" title="{lang friendlink}">{lang link_exchange}</a></p>
		</div>
	</div>
	<!--{/if}-->
	<!--{if $menu.pms}-->
	<div class="mod">
		<div class="mod-hd">
			<h3>{lang exchange_information}</h3>
		</div>
		<div class="mod-bd">
			<p><a href="pms.php">{lang sms}</a></p>
			<p><a href="pms.php?do=send">{lang send_message}</a></p>
		</div>
	</div>
	<!--{/if}-->
	<div class="mod">
		<div class="mod-hd">
			<h3>{lang self_service}</h3>
		</div>
		<div class="mod-bd">
			<p><a href="ads.php">{lang site_advertising}</a></p>
			<p><a href="spread.php">{lang keyword_advertising}</a></p>
			<p><a href="space.php">{lang diy_website}</a></p>
			<p><a href="order.php">{lang order_manage}</a></p>
		</div>
	</div>
	<!--{if $menu.basic}-->
	<div class="mod">
		<div class="mod-hd">
			<h3>{lang system_settings}</h3>
		</div>
		<div class="mod-bd">
			<p><a href="personal.php">{lang profile}</a></p>
			<p><a href="changepass.php">{lang change_password}</a></p>
			<p><a href="invite.php">{lang our_invitation_code}</a></p>
		</div>
	</div>
	<!--{/if}-->
</div>

