<!--{assign var="page_title" value="`$_offer`"}-->
<!--{include file="header.html"}-->
<div id="main" class="container">
  <div class="row">
    <div class="span4 side-bar l-col">
      <!--{include file="menu.html"}-->
    </div>
  
    
    <div class="span12 main-content r-col">
      <div class="page-header">
         <h2>{$page_title}<a title="{lang release}{$ActionName}" href="offer.php?do=edit" class="btn pull-right">{lang release_supply}</a></h2>
      </div>
      <div class="notice">
        {lang tips_no_repeat}
      </div>
      <div class="sum">
        <p><strong>{lang success_release}<span class="font14b_org"> {$Amount}</span> {lang number}{$ActionName}{lang information_g}</strong></p>
        
      </div>
    
      
      <form name="listfrm" action="{$smarty.server.PHP_SELF}" method="post">
	     <!-- {formhash} -->
          <table>
            <tbody>
              <tr>
                <th>{lang type}</th>
                <th>{lang theme}</th>
                <th>{lang due_date}</th>
                <th>{lang state}</th>
                <th>{lang operation}</th>
                <th>{lang choose}</th>
              </tr>
              <!--{foreach from=$Items item=item}-->
              <tr>
                <td>[<a href="offer.php?typeid={$item.type_id}">{$TradeTypes[$item.type_id]}</a>]</td>
                <td><div style="text-align:left; font-weight:bold;"><a href="offer.php?do=edit&id={$item.id}">{$item.title}</a><!--{if $item.picture!=""}-->&nbsp;{lang picture}<!--{/if}--></div></td>
                <td><!--{if $item.expire_time<$TimeStamp}-->{lang has_expired}{else}{$item.expire_date}<!--{/if}--></td>
                <td>{$CheckStatus[$item.status]}</td>
                <td><a href="offer.php?do=edit&id={$item.id}">{lang modify}</a>&nbsp;&nbsp;<!--{if $item.status==1}--><a href="offer.php?do=refresh&id={$item.id}" title="{lang extension_time}">{lang repeating}</a>&nbsp;&nbsp;<a href="offer.php?do=update&id={$item.id}" title="{lang update_site}">{lang update}</a><!--{/if}-->&nbsp;&nbsp;<a href="offer.php?do=moderate&id={$item.id}"  onclick="return window.confirm('{lang you_should_pay_for_this}');">{lang bump_to_top}</a>&nbsp;&nbsp;<a href="{$SiteUrl}offer/detail.php?id={$item.id}" target="_blank">{lang preview}</a></td>
                <td><input name="tradeid[]" type="checkbox" id="id_{$item.id}" value="{$item.id}"></td>
              </tr>
              <!--{foreachelse}-->
              <!--{/foreach}-->
            </tbody>
          </table>
          <div class="actions">
             <input type="submit" name="del" value="{lang delete_message}" class="btn" onclick="return window.confirm('{lang ok_delete}');">&nbsp;
              <input type="submit" name="refresh" value="{lang repeating_information}" class="btn" onclick="return window.confirm{lang ok_repeating_information}">
          </div>
         
          <div>
            {$ByPages}
          </div>
             
      </form>
      <div>
        {lang offer_post_attention}
      </div>
      
    </div>
  </div>
</div>
<!--{include file="footer.html"}-->