<!--{assign var="page_title" value="`$_sms`"}-->
<!--{include file="header.html"}-->
<div id="main" class="container">
  <div class="row">
    <div class="span4 side-bar l-col">
       
         <!--{include file="menu.html"}-->
       
    </div> 
     <div class="span12 main-bontent r-col">
        <div class="page-header">
          <h2>{$page_title}<a href="pms.php?do=send" class="btn pull-right">{lang send_message}</a></h2>
        </div>
        <div class="mod">
          <div class="mod-hd">
            <div>{lang sms_tips}</div>
          </div>
          <div class="mod-bd">
             <form name="pmsfrm" method="post" action="{$smarty.server.PHP_SELF}">
         <!-- {formhash} -->
         <table class="news">
            <tr align="center">
              <th>{lang choose}</th>
              <th>{lang category}</th>
              <th>{lang theme}</th>
              <th>{lang state}</th>
              <th>{lang time}</th>
            </tr>
           <!--{foreach from=$Items item=item}-->
            <tr align="center" class="bggray">
              <td><input type="checkbox" name="id[]" value="{$item.id}" id="item_{$item.id}"></td>
              <td>{$item.typename}</td>
              <td align="left"><a href="pms.php?do=view&id={$item.id}">{$item.title}</a></td>
              <td><!--{if $item.status==0}--><span style="color:#FF0000">{$MessageStatus[$item.status]}</span>{else}<span style="color:#006600">{$MessageStatus[$item.status]}</span><!--{/if}--></td>
              <td>{$item.senddate}</td>
            </tr>
         <!--{/foreach}-->
            
        </table> 
          <div>{$ByPages}</div> 
       <div class="actions"><input  name="del" type="submit" class="btn" id="del" value=" {lang delete_select} "></div>
      
     
    </form>
          </div>
        </div>

     
	 
   </div>
   </div>
   </div>
<!--{include file="footer.html"}-->
