<!--{assign var="page_title" value="`$_product_prices`"}-->
<!--{include file="header.html"}-->
<div id="main" class="container">
    <div class="row">
       <div class="span4 side-bar">
         <!--{include file="menu.html"}-->
       </div>
    
     <div class="span12 main-content">
     <div class="page-header">
        <h2 class="pull-left">{$page_title}</h2>
        <p class="pull-right">
           <a title="{lang release}{$ActionName}" href="price.php?do=edit" class="btn">{lang add}{lang product_prices}</a>
        </p>
     </div>
     <div class="mod">
       <div class="mod-hd">
         <p>{lang success_release}<span class="font14b_org"> {$Amount}</span> {lang number}{$ActionName}{lang product_prices}</p>
         
       </div>
       <div class="mod-bd">
              <form name="listfrm" action="{$smarty.server.PHP_SELF}" method="post">
              <!-- {formhash} -->
 
          <table class="bglist">
            <tr>
              <th>{lang product_name}</th>
              <th>{lang prices}</th>
              <th>{lang times}</th>
              <th>{lang operation}</th>
            </tr>
      <!--{foreach from=$Items item=item}-->
            <tr align="center" class="bgwhite">
              <td><a href="{$SiteUrl}product/detail.php?id={$item.product_id}" style="text-decoration:underline" target="_blank">{$item.title}</a></td>
              <td>{$item.price}{$Monetaries[$item.currency]}/{$Measuries[$item.units]}</td>
              <td class="orange">{$item.created|date_format:"%Y-%m-%d"}</td>
              <td><a href="price.php?do=edit&id={$item.id}">{lang modify}</a>&nbsp;&nbsp;<a href="price.php?do=del&id={$item.id}">{lang delete}</a>&nbsp;&nbsp;</td>
            </tr>
      <!--{foreachelse}-->
      <tr><td colspan="5"><a href="price.php?do=edit">{lang no_prices_and_add_it}</a></td></tr>
      <!--{/foreach}-->
          </table>
          
          
      </form>
        <div>{$ByPages}</div>
       </div>
     </div>
     
</div>
</div>
<!--{include file="footer.html"}-->