<!--{assign var="page_title" value="`$_product_sort`"}-->
<!--{include file="header.html"}-->
<div id="main" class="container">
  <div class="row">
    <div class="span4 side-bar">
      
         <!--{include file="menu.html"}-->
    
    </div>
     <div class="span12 main-content">
       <div class="page-header">
         <h2>{$page_title}</h2>
       </div>
       <div class="mod">
         <div class="mod-hd">
           <h2>{lang friendly_tip}</span>{lang adjustment_sequence}</h2>
         </div>
         <div class="mod-bd">
           <form name="prodtypefrm" action="producttype.php" method="post">
          <!-- {formhash} -->
           <table class="product_type">
                <tr>
                  <th colspan="4"><strong>{lang series_sort_product}</strong></th>
                </tr>
           <!--{foreach from=$Items name=producttype item=item}-->
                <tr>
                  <td width="6%" align="center"><img src="images/on.gif"></td>
                  <td width="40%" align="left">{$item.name}</td>
                  <td align="center"><a href="producttype.php?do=edit&id={$item.id}">{lang modify}</a></td>
                  <td align="center"><a href="producttype.php?do=del&id={$item.id}">{lang delete}</a></td>
                </tr>
          <!--{/foreach}-->
              </table>
          </form>
         
        <form name="edit_frm" method="post" action="producttype.php" autocomplete="off">
        <!-- {formhash} -->
            <table>
            <tr>
              <td colspan="2">&nbsp;{lang product_sort_name}
                <input name="data[name]" type="Text" value="">
                <input type="Submit" name="save" value="&nbsp;{lang add}&nbsp;"></td>
            </tr>
            </table>
        </form>
         </div>
       </div>
    </div>
</div>
</div>
<!--{include file="footer.html"}-->
