<!--{assign var="page_title" value="`$_product_management`"}-->
<!--{include file="header.html"}-->
<div id="main" class="container">
  <div class="row">
    
  
    <div class="span4 side-bar">
         <!--{include file="menu.html"}-->
    </div>
    <div class="span12 main-content">
      <div class="page-header" style="overflow:hidden;">
        <h2 class="pull-left">{lang product_management}</h2>
        <div class="pull-right">
        <a href="product.php?do=import" class="btn" style="margin-left:10px;">{lang data_import} {lang product}</a><a href="price.php?do=edit" class="btn" style="margin-left:10px;">{lang price_allow}</a><a href="product.php?do=edit" class="btn" style="margin-left:10px;">{lang release_products}</a>
        </div>
      </div>
      <div class="notice">
        {lang tips_buy_no_repeat}"<a href="offer.php" class="orange">{lang modify}{lang our_offer}</a>"{lang repeat_function}
      </div> 
     
      
	
		  <form name="typefrm" id="TypeFrm" method="get" action="">
		   <table class="product_sort">
            <tr>
              <td>{lang according}
                  <select name="typeid" onchange="$('#TypeFrm').submit();">
                    <option value="0">{lang all_categories}</option>
          				  <!--{foreach from=$ProductTypes item=pt name=producttypes}-->
          				  <option value="{$pt.id}" {if $pt.id == $smarty.get.typeid}selected{/if}>{$pt.name}</option>
          					<!--{/foreach}-->
                  </select>
              </td>
             <td><a href="{$plink}" title="{lang prev_page}">Previous</a>&nbsp;<a href="{$nlink}" title="{lang next_page}">Next</a></td>
            </tr>
          </table>
		  </form>
	     <table class="pagedown">
	  <tr>
		<td>
		  <div id="msg" align="center">{$Msg}</div></td>
	  </tr>
	  </table>
         <table class="bglist">
              <!-- product -->
                    <col width="75">
                    <col width="260">
                    <col width="80">
                    <col width="120">
                    <col width="120">
                <tr>
                   <th>{lang sample_image}</th>
                   <th>{lang content}</th>
                   <th>{lang product}</th>
                   <th>{lang release}</th>
                   <th>{lang operation}</th>
                </tr> 
              <!--{foreach item=item from=$Items}-->
                <tr>
                <td><img src="{$item.image}" width=75 height=75></td>
                <td style='word-break: break-all'>
                    <div style="text-align:left;"><strong><a href="product.php?do=edit&id={$item.id}" style="text-decoration:underline;">{$item.name|truncate:25}</a></strong><br />[{$CheckStatus[$item.status]}][{$ProductSorts[$item.sort_id]|default:"`$_ordinary_goods`"}]<br />{lang description}{$item.content|strip_tags|truncate:100}</div>
                </td>
                <td><!--{if $item.state eq 1}--><a href="{$smarty.server.PHP_SELF}?do=state&type=down&id={$item.id}" title="{lang web_down_shelves}"><img src="images/state1.gif"></a><!--{else}--><a href="{$smarty.server.PHP_SELF}?do=state&type=up&id={$item.id}" title="{lang goods_on_shelves}"><img src="images/state0.gif"></a><!--{/if}--></td>
                <td><a href="offer.php?do=pro2offer&productid={$item.id}">{lang as_release_supply}</a>&nbsp;<a href="price.php?do=edit&productid={$item.id}">{lang prices}</a></td>
                <td><a href="product.php?do=edit&id={$item.id}">{lang modify}</a>&nbsp;&nbsp;[<a href="{the_url id=`$item.id` module='product'}" target="_blank" title="{lang click_preview}">{lang click_preview}</a>]&nbsp;&nbsp;<a href="{$smarty.server.PHP_SELF}?act=del&id={$item.id}">{lang delete}</a></td>
                </tr> 
              <!--{/foreach}-->
        </table> 
         <!-- :~product  -->
        <div>{$pagenav}&nbsp;</div>
        
      
    
</div>

</div>
</div>
<!--{include file="footer.html"}-->