<!--{assign var="page_title" value="`$_statistics`"}-->
<!--{include file="header.html"}-->
<div id="main" class="container">
  <div class="row">
    <div class="span4 side-bar l-col">
      <!--{include file="menu.html"}-->
    </div>
  
    
     <div class="span12 main-content r-col">
  	    <div class="page-header">
         <h2>{$page_title}</h2>
        </div>
        <div class="notice">
         {lang information_statistics}
        </div>

        <table>

            <!--{foreach from=$UserTradeStat item=ut}-->
            <tr>
              <td><img src="images/stat.gif" width="13" height="13" border="0"> <strong>{$ut.name}{lang information}{lang colon}</strong> {lang now_you_have} <span class="orange"><strong>{$ut.Amount|default:"0"}</strong></span> {lang number}{$ut.name}{lang information_g}</td>
            </tr>
            <!--{/foreach}-->
	         <!--{if $pb_userlevel>1}-->
            <tr>
              <td><img src="images/stat.gif" width="13" height="13" border="0"> <strong>{lang products_n}</strong> {lang now_you_have} <span class="orange"><strong>{$ProductAmount}</strong></span>{lang account_product}</td>
            </tr>
	         <!--{/if}-->
           
        </table>

  </div>    
</div>
</div>
<!--{include file="footer.html"}-->
