<!--{include file="`$theme_name`/header.html" page_title="`$page_title`"}-->
<!--{$redirect}-->
<!--{$js_head}-->
<div id="main" class="container">
	<div class="subnav">{lang action_tip} &raquo; <span class="black">{$message|strip_tags}</span></div>
	<div class="row">
		<div class="span4">
			<div class="mod">
				<div class="mod-hd">
					
				</div>
				<div class="mod-bd">
					<div class="info_tip_service clearfix">
						<span class="{$action_style}">{$message}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="span13">
			<div class="mod">
				<div class="mod-hd">
					
				</div>
				<div class="mod-bd">
					<div class="info_tip_right">
					<p class="back"><a href="javascript:history.go(-1);">{lang go_back}</a></p>
					<p class="close"><a href="javascript:;" onclick="window.opener=null;window.close();">{lang close_window}</a></p>
				   </div>   
				</div>
			</div>
		</div>
	</div>
</div>


<!--{include file="`$theme_name`/footer.html"}-->