<!-- {assign var="metakeywords" value="`$site_description`"} -->
<!-- {assign var="metadescription" value="`$site_description`"} -->
<!-- {assign var="do" value="offer"} -->
<!--{include file="`$theme_name`/header.html" page_title="`$_home_page` - `$site_name`" nav_id=1}-->

<div id="main" class="container">
	<div class="row">
	   	<div class="side-bar span4 l-col">
        	<div class="mod">
           		<div class="mod-hd">
            		<h2><span class="title_more"><a href="announce/" title="{lang more}" target="_blank"><span class="raquo">&raquo;</span>{lang more}</a></span>{lang board}</h2>
           		</div>
				<div class="mod-bd">
					<ul class="info-list">
						<!--{pb:announce titlelen=15 row=5 name="item"}-->
						<li>{$item.link}</li>
						<!--{/pb:announce}-->
					</ul>
				</div>
			</div>
		</div>
	   	<div class="main-content span9 c-col">
			<!--{pb:ads typeid=5}--><!-- This text is replaced by the Flash movie. --><!--{/pb:ads}-->
		</div>
       	<div class="side-bar span4 r-col">
       		<div class="mod">
       			<div class="mod-hd">
       				<h2>{lang after_free_reg}</h2>
       			</div>
       			<div class="mod-bd">
       				<ol class="info-list">
       					<li><a>{lang build_your_site}</a></li>
       					<li><a>{lang post_offer_trade}</a></li>
       					<li><a>{lang spread_your_products}</a></li>
       					<li><a>{lang meet_more_friends}</a></li>
       				</ol>
                    <p><a class="btn" href="member.php" title="{lang register}">{lang free_reg_member}</a></p>
       			</div>
       		</div>
        </div>
	</div>
	
	<div class="row">
		<div class="side-bar span4 l-col">
             <!--# the tabs #-->
            <ul class="tabs2 title_mouse">
                  <li><!-- {newstype id=4} --><a href="{$newstype.url}"><span>{$newstype.title}</span></a><!-- {/newstype} --></li>
                  <li><!-- {newstype id=1} --><a href="{$newstype.url}"><span>{$newstype.title}</span></a><!-- {/newstype} --></li>
            </ul>
            <!--# tab "panes" #-->
            <div class="mod">
               	<div class="mod-bd" id="Newstype1List">
					<ul class="info-list">
					<!-- {pb:news typeid=2 row=9 titlelen=34 infolen=35 name="item"} -->
						{if $item.rownum==0 && $item.src neq ''}
						<li style="height:72px; background:url({$item.src}) no-repeat; padding:0 0 0 90px; overflow:hidden;"><h3  style="padding:0 0 0 5px;">{$item.link}</h3>{$item.content}</li>
						{else}
						<li>{$item.link}</li>
						{/if}
					<!-- {/pb:news} -->
					</ul>
				</div>
			    <div class="mod-bd" id="Newstype2List" style="display:none;">
					<ul class="info-list">
					<!-- {pb:news typeid=1 row=9 titlelen=34 infolen=35 name="item"} -->
						{if $item.rownum==0 && $item.src neq ''}
						<li style="height:72px; background:url({$item.src}) no-repeat; padding:0 0 0 90px; overflow:hidden;"><h3  style="padding:0 0 0 5px;">{$item.link}</h3>{$item.content}</li>
						{else}
						<li>{$item.link}</li>
						{/if}
					<!-- {/pb:news} -->
					</ul>
				</div>
            </div>
			
		</div>
		<div class="main-content span9 c-col">
			<div class="mod hot-news">
				<div class="mod-hd">
					<h2><span class="title_more"><a href="{the_url module=search do=news type=hot}" title="{lang more}"><span class="raquo">&raquo;</span>{lang more}</a></span>{lang hot_news}</h2>
				</div>
				<div class="mod-bd">
					
						<ul class="info-list media-list">
							<!--{pb:news row=4 type="image" titlelen="10" name="item"}-->
							<li class="item-quarter">
								<a href="{$item.url}" class="image"><img src="{$item.src}" alt="{$item.title}" /></a>
	                        	<p class="title">{$item.link}</p>
	                        </li>
							<!--{/pb:news}-->
						</ul>
						
						
						<ul class="info-list two-cols-list">
							<!--{pb:news row=14 name="item"}-->
							<li>{$item.link}</li>
							<!--{/pb:news}-->
						</ul>
						
					
				</div>
			</div>	
		</div>
		<div class="side-bar span4 r-col">
			<div class="mod special-news">
				<div class="mod-hd">
					<span class="title_more"><a href="{the_url module=search do=news type=topic}"><span class="raquo">&raquo;</span>{lang more}</a></span><h2>{lang topic_news}</h2>
				</div>
				<div class="mod-bd">
					<ul class="info-list">
					<!--{topic type="news" row=3 name="item"}-->
	                     <li>
	                       <a href="{$item.url}" title="">{the_attachment name=`$item.picture` type='small'}</a>
	                       <div>{$item.link}</div>
	                     </li>
					<!--{/topic}-->
	                </ul>
				</div>
			</div>	
		</div>
	</div>

	<div class="row">
		<div class="side-bar span4 l-col">
			<div class="mod">
				<div class="mod-hd">
					<h2><span class="title_more"><a href="fair/list.php" title="{lang more}"><span class="raquo">&raquo;</span>{lang more}</a></span>{lang new_fair}</h2>
				</div>
				<div class="mod-bd">
					<ul class="info-list">
					<!--{pb:fair row=6 infolen="12" titlelen=32 name="item"}-->
					{if $item.rownum==0 && $item.src neq ''}
						<li style="height:72px; background:url({$item.src}) no-repeat; padding:0 0 0 90px; overflow:hidden; "><h3>{$item.link}</h3>{$item.content}
						</li>
					{else}
						<li>{$item.link}</li>
					{/if}
					<!--{/pb:fair}-->
					</ul>
				</div>
			</div>
				
			    
		</div>
		<div class="main-content span9 c-col">
			
         		<ul class="tabs2 title_mouse">
                  	<li><a href="offer/list.php?typeid=2"><span>{lang newest_sell}</span></a></li>
                  	<li><a href="offer/list.php?typeid=1"><span>{lang newest_buy}</span></a></li>
            	</ul>
         		<div class="mod">	
         		
	                <div class="mod-bd" id="latest-offer-1">
						
							<ul class="info-list media-list">
								<!--{pb:offer typeid="2" type="image" row=4 titlelen="10" name="item"}-->
								<li class="item-quarter">
								<a href="{$item.url}" class="image"><img src="{$item.thumb}" alt="{$item.title}" /></a><p class="title">{$item.link}</p></li>
								<!--{/pb:offer}-->
							</ul>
						
						
							<ul class="info-list two-cols-list">
								<!--{pb:offer row=14 typeid="2" name="item"}-->
								<li>{$item.link}</li>
								<!--{/pb:offer}-->
							</ul>
						
				    </div>
	                <div class="mod-bd" id="latest-offer-2" style="display:none;">
						
							<ul class="info-list media-list">
								<!--{pb:offer type="image" row=4 titlelen="10" typeid="1" name="item"}-->
								<li class="item-quarter">
								<a href="{$item.url}" class="image"><img src="{$item.thumb}" alt="{$item.title}" /></a>
								<p class="title">{$item.link}</p></li>
								<!--{/pb:offer}-->
							</ul>
						
							<ul class="info-list two-cols-list">
								<!--{pb:offer typeid="1" row=14 name="item"}-->
								<li>{$item.link}</li>
								<!--{/pb:offer}-->
							</ul>
						
					</div>
					
         		</div>
        </div>
            
		<div class="side-bar span4 r-col">
			<div class="mod">
				<div class="mod-hd">
					<h2><span class="title_more"><a href="purchase.php">{lang member_upgrade}</a></span>{lang newest_company}</h2>
				</div>
				<div class="mod-bd">
					<ul class="info-list">
						<!--{pb:company row=13 name="item"}-->
						<li>{$item.link}</li>
						<!--{/pb:company}-->
					</ul>
				</div>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="main-content span17 l-col">
			<div class="mod">
				<div class="mod-hd">
					<h2>{lang new_products}</h2>
				</div>
				<div class="mod-bd">
					<ul class="media-items-grid">
					<!--{pb:product row=9 type="image" titlelen="10" name="item"}-->
						<li class="media-item">
							<a class="image" href="{$item.url}"><img src="{$item.src}" alt="{$item.name}" /></a>
		                	<p class="name"><a href="{$item.url}">{$item.names}</a></p>
		                </li>
					<!--{/pb:product}-->
					</ul>
				</div>
			</div>	
		</div>	
	</div>
	<div class="row">

			<div class="main-content span13 l-col">
				<div class="mod category-index">
					<div class="mod-hd">
						<h4>{lang industry_sort}<span class="title_more">{lang select_industry_and_post}</span></h4>
					</div>
					<div class="mod-bd">
						<!--{get var="IndustryList" from="industry"}-->
			            <!--{foreach from=$IndustryList item=item0 key=key0 name=level_0}-->
						  	<div class="typebox bg-hover">
			                	<div class="category-title"><a href="{the_url module=search industryid=`$item0.id` do=product}" title="{$item0.name}">{$item0.name}</a></div>
			                	<div class="category-content">
			                    <!-- {if $item0.sub} -->
								<ul class="info-list two-cols-list">
			                    	<!--{foreach from=$item0.sub name=level_1_industry item=level1 key=key_level1}-->
									<li>
										<a href="{the_url module=search industryid=`$level1.id` do=product}" title="{$level1.name}" class="sub-name">{$level1.name}</a><br />
			                        <!--{foreach from=$level1.sub name=level_2_industry item=level2 key=key_level2}-->
										<a href="{the_url module=search industryid=`$level2.id` do=product}" title="{$level2.name}">{$level2.name}</a>
			                            <!-- {if !$smarty.foreach.level_2_industry.last} -->
			                            <span>|</span>
			                            <!-- {/if} -->
			                        <!--{/foreach}-->
									</li>
			                        <!--{/foreach}-->
								</ul>
			                    <!-- {/if} -->
			                   </div>
						  	</div>
			                
			            <!--{/foreach}-->
					</div>
				</div>	
			</div>
				
			<div class="side-bar span4 r-col">
				<div class="mod">
					<div class="mod-hd">
						<h2><span class="title_more"><a href="redirect.php?url=/virtual-office/brand.php" title="{lang apply_industry_brand}" target="_blank">{lang apply_industry_brand}</a></span>{lang industry_brand}</h2>
					</div>
					<div class="mod-bd">
						<ul class="brands-grid">
						<!--{brand type="image" row=10 name="item"}-->
							<li class="item"><a class="image" href="{$item.url}" target="_blank"><img src="{$item.thumb}" title="{$item.name}" /></a><p class="name">{$item.title}</p></li>
						<!--{/brand}-->
						</ul>
					</div>
					
				</div>	


				
				<div class="mod">
					<div class="mod-hd">
						<h2><span class="title_more"><a href="offer/list.php?typeid=3" title="{lang more}"><span class="raquo">&raquo;</span>{lang more}</a></span>{lang agent}</h2>
					</div>
					<div class="mod-bd">
						<ul class="info-list">
						<!--{pb:offer row=9 typeid="1" infolen="35" name="item"}-->
							<!-- {if $item.rownum==0 && $item.picture neq ""} -->
							<li style="height:72px; background:url({$item.thumb}) no-repeat; padding:0 0 0 90px; overflow:hidden;"><h3 style="padding:0 0 0 5px;">{$item.link}</h3></li>
							<!-- {else} -->
							<li>{$item.link}</li>
							<!-- {/if} -->
						<!--{/pb:offer}-->
				   		</ul>
					</div>
				</div>	
				
				<div class="mod">
					<div class="mod-hd">
						<h2><span class="title_more"><a href="offer/list.php?typeid=5" title="{lang more}"><span class="raquo">&raquo;</span>{lang more}</a></span>{lang investment}</h2>
					</div>
					<div class="mod-bd">
						<ul class="info-list">
						<!--{pb:offer row=9 typeid="2" infolen="35" name="item"}-->
							<!-- {if $item.rownum==0 && $item.picture neq ""} -->
							<li style="height:72px; background:url({$item.thumb}) no-repeat; padding:0 0 0 90px; overflow:hidden;"><h3 style="padding:0 0 0 5px;">{$item.link}</h3></li>
							<!-- {else} -->
							<li>{$item.link}</li>
							<!-- {/if} -->
						<!--{/pb:offer}-->
					   	</ul>
					</div>
				</div>
				
				<div class="mod">
					<div class="mod-hd">
						<h2><span class="title_more"><a href="{the_url module=search do=news typeid=3}" title="{lang more}"><span class="raquo">&raquo;</span>{lang more}</a></span>{lang site_news}</h2>
					</div>
					<div class="mod-bd">
						<ul class="unstyled">
						<!--{pb:news typeid=4 row=9 titlelen=30 infolen=25 name="item"}-->
							{if $item.rownum==0 && $item.src neq ''}
							<li style="height:80px; background:url({$item.src}) no-repeat; padding:0 0 0 90px; overflow:hidden; width:120px;"><h3  style="padding:0 0 0 5px;">{$item.link}</h3>{$item.content}</li>
							{else}
							<li>{$item.link}</li>
							{/if}
						<!--{/pb:news}-->
					   	</ul>
					</div>
				</div>

				<div class="mod">
					<div class="mod-hd">
						<h2>{lang idea_or_advise}</h2>
					</div>
					<div class="mod-bd">
						
							<p>{lang welcome_your_idea_or_advise}</p>
							<form action="service/post.php" name="service_frm" id="ServiceFrm" method="post">
							<!-- {formhash} -->
							<input type="hidden" name="save_service" value="save_service">
							<p><textarea name="service[content]" cols="" class="span3" rows=""></textarea></p>
							<p>{lang your_email}</p>
							<p><input type="text" name="service[email]" value="" class="span3"></p>
							
							<p><input type="button" name="btn_submit" value="{lang submit}" class="btn" onclick="$('#ServiceFrm').submit();" />
							<input type="reset" value="{lang reset}" name="" class="btn"/></p>
							</form>
						
					</div>
				</div>			
			</div>
		   
	</div>
	<div class="row">
		<div class="span17 l-col">
			<div class="mod friend-links">
				<div class="mod-hd">
					<h4><a href="friendlink.php" title="{lang apply_friendlink}"><span class="raquo">&raquo;</span>{lang apply_friendlink}</a></h4>
				</div>
				<div class="mod-bd">
					<table>
					  <tr>
						<th width="60">{lang friend_links}:</th>
						<td>
						<!--{friendlink typeid="1" sep="<span>|</span>"}-->
							{$link.link}
						<!--{/friendlink}-->
						</td>
					  </tr>
					  <tr>
						<th width="60">{lang membership_links}:</th>
						<td>
						<!--{friendlink typeid="2" sep="<span>|</span>"}-->
							{$link.link}
						<!--{/friendlink}-->
						</td>
					  </tr>
					</table>
				</div>
			</div>	
		</div>	

	</div>


</div>
<!--{literal}-->
<script src="scripts/jquery.tools.js"></script>
<script>
$("#topMenuOffer").addClass("lcur");
$(function(){
    $("ul.tabs2").tabs("div.mod > div.mod-bd", {event:'mouseover'});
	$("[linkf='friendlink']").click(function(){
		window.location = SiteUrl+"redirect.php?url="+$(this).attr("href");
		return false;
	});
});
</script>
<!--{/literal}-->
<!--{include file="`$theme_name`/footer.html"}-->