<!--{include file="`$theme_name`/header.html" page_title="`$_login`"}-->
<!--{literal}-->
<style type="text/css">
label.error {
  font-weight: bold;
  color: #b80000;
}
</style>
<!--{/literal}-->
<div id="main" class="container">
    <div class="alert-message info">
        {if $pb_username==""}<div>{lang your_ongoing_operations}<span>{lang pls_login}</span>{lang continue}</div>{/if}
    </div>
    <form name="loggingfrm" id="LoggingFrm" method="post" action="logging.php" autocomplete="off">
            <input type="hidden" name="action" value="logging">
            <!-- {formhash} -->
            <input type="hidden" name="forward" value="{$smarty.get.forward}" />
    <div class="row">
        <div class="span7">
            <div class="mod">
                <div class="mod-hd">
                    <h3>{lang member_login}</h3>
                </div>
                <div class="mod-bd">
                    {if $LoginError}{$LoginError}{/if}
                
                    {if $pb_username!=""}
                    <table>
                        <tbody>
                            <tr><th>{lang user_name}</th><td>{$pb_username|default:'`$_account_n_email_n_mobile`'}</td></tr>
                            <tr><th>{lang member_type}</th><td>{$member_info.groupname}<img src="{$member_info.groupimage}" /></td></tr>
                            <tr><th>{lang your_last_login}{lang colon}</th><td>{$member_info.last_login|date_format:"%Y-%m-%d %H:%M"}</td></tr>
                        </tbody>
                    </table>
                    
                    {else}
                    <div class="clearfix">
                        <label class="loadingname">
                        {lang user_name}
                        </label>
                        <div class="input">
                            <input type="text" style="color: #CCCCCC;" name="data[login_name]" id="LoginName" value="{lang account_n_email_n_mobile}" tabindex="1">
                            <p><input type="checkbox" name="remember_pass" id="RememberPass" value="1" title="{lang remember_password}">&nbsp;{lang remember_password}</p>
                        </div>
                    </div>
                    
                    <div class="clearfix">
                        <label class="loadingname">
                        {lang password}
                        </label>
                        <div class="input">
                            <input name="data[login_pass]" type="password" id="LoginPass" value="" tabindex="2">&nbsp;<a href="getpasswd.php">{lang forget_password}</a>
                        </div>

                    </div>
                    
                   
                    {if $ifcapt}
                    <div class="clearfix">
                        <label class="loadingname">
                        {lang code}
                        </label>
                        <div class="input">
                            <input name="data[capt_logging]" id="LoginAuth" type="text" value="" size="5" maxlength="5" tabindex="3"><a href="javascript:;" onclick="$('#imgcaptcha').attr('src','captcha.php?sid=' + Math.random());return false;"><img src="captcha.php" id="imgcaptcha" alt="{lang unclear_see_numbers}" title="{lang unclear_see_numbers}" width="128"/></a>
                        </div>
                        <p>{lang refresh_code}</p>
                    </div>
                    {/if}
                    <div class="actions" id="btnLoginDiv">
                        <input type="submit" name="log_in" id="LogIn" value="{lang login}" class="btn" />
                       <input type="reset" name="reset" value="{lang reset}" class="btn"/>
                    </div>
                   
                    {/if}
                    
                    <p>{lang questions_service_hotline}{$service_tel}</p>
                </div>
            </div>
           
        </div>
        <div class="span10">
            <div class="mod">
                <div class="mod-hd">
                    <h3>{lang free_register}</h3>
                </div>
                <div class="mod-bd">
                    <ul class="info-list">
                        <li><a><img src="{$theme_img_path}images/logging_01.gif" alt="" /><p><b>{lang products_show}</b><br />{lang illustrated_display_product}</p></a></li>
                        <li><a><img src="{$theme_img_path}images/logging_02.gif" alt="" /><p><b>{lang online_business}</b><br />{lang internet_power_promotion}</p></a></li>
                        <li><a><img src="{$theme_img_path}images/logging_03.gif" alt="" /><p><b>{lang hr}</b><br />{lang talents_join}</p></a></li>
                        <li><a><img src="{$theme_img_path}images/logging_04.gif" alt="" /><p><b>{lang agent_join}</b><br />{lang development_agent_join}</p></a></li>
                        <li><a><img src="{$theme_img_path}images/logging_05.gif" alt="" /><p><b>{lang company_news}</b><br />{lang display_company_news}</p></a></li>
                        <li><a><img src="{$theme_img_path}images/logging_06.gif" alt="" /><p><b>{lang classifieds}</b><br />{lang free_classifieds}</p></a></li>
                    </ul>
                    <div class="member_reg">
                    {if $pb_username!=""}
                           <input type="button" value="{lang into_office_room}" class="btn" onclick="redirect('virtual-office/index.php');return false;"/>
                           {else}
                           <input type="button" value="{lang register}" class="btn" onclick="redirect('member.php');return false;"/>
                    {/if}
                    </div>
                </div>
            </div>
        </div>
    </div> 
    </form> 
</div>

<script src="scripts/langs/{$JsLanguage}.js" charset="{$charset}"></script>
<script language="javascript" src="scripts/jquery/jquery.validate.js"></script>
<script language="javascript" src="scripts/validate.js" charset="{$charset}"></script>
<script>
var account_n_email_n_mobile = "{lang account_n_email_n_mobile}";
</script>
<!--{literal}-->
<script>
$(document).ready(function(){
	$("#LoginName").focus(function(){
		if($("#LoginName").val()==account_n_email_n_mobile){
			$("#LoginName").val('').css('color', '#000');
		};
	}).blur(function(){
		if($("#LoginName").val()==''){
		$("#LoginName").val(account_n_email_n_mobile).css("color","#ccc")};
	});
});
</script>
<!--{/literal}-->
<!--{include file="`$theme_name`/footer.html"}-->