<!--{include file="`$theme_name`/header.html" page_title="`$_online_pay`"}-->
<div id="main" class="container">
	<div class="breadcrumb"><span>{lang correct_operation}</span></div>

	<div class="mod">
		<div class="mod-hd">
			<p>{lang confirm_pay_amount}</p>
		</div>
		<div class="mod-bd">
			
			  	
				<table>
					{if $OnlineSupport}
					<form method=get action="">
					<input type="hidden" name="tradeno" value="{$tradeno}">
					<input type="hidden" name="do" value="pay">
					<tr>
						<th>&nbsp;</th>
						<td><input type="submit" class="submit_w118" value="{lang next_pay_amount}"/></td>
					</tr>
					</form>
					{else}
					<tr>
						<th>{lang pay_description}</th>
						<td class="pay_description">{$Description}</td>
					</tr>
				{/if}
				</table>
			
		</div>
	</div>
		
	</div>
</div>

<!--{include file="`$theme_name`/footer.html"}-->