<!--{include file="`$theme_name`/header.html" page_title="`$_member_reg`"}-->
<!--{literal}-->
<style type="text/css">  
label.error {
  font-weight: bold;
  color: #b80000;
}
</style>
<!--{/literal}-->
<div id="main" class="container">
  <div class="subnav">
    <div class="alert-message"><span class="step_01">{lang fill_reg_info}</span><span class="step_02">{lang reg_success}</span></div>
  </div>
  <div class="mod">
    <div class="mod-hd">
      <h2><span class="title_mouse">{lang choose_reg_type}</span><span class="title_telephone">{lang issue_contact}{$service_tel}</span></h2>
    </div>
    <div class="mod-bd">
      <h3>{lang choose_reg_type_conditions}</h3>
      <div class="row">
             <div class="span12">
                <table class="reg_member_list no_outline">
                  <tr>
                    <!--{foreach from=$MemberTypes item=item}-->
                    <th>{$item.name}</th>
                    <!--{/foreach}-->
                  </tr>
                  <tr>
                    <!--{foreach from=$MemberTypes item=item}-->
                    <td width="25%"><p>{$item.description}</p></td>
                    <!--{/foreach}-->
                  </tr>
                  <tr>
                    <!--{foreach from=$MemberTypes item=item}-->
                    <td><a href="{if $reg_filename!=''}{$reg_filename}{else}register.php{/if}?typename={$item.name|urlencode}" class="btn">{lang register_now}{$item.name}</a></td>
                    <!--{/foreach}-->
                  </tr>
                </table>
             </div>
             <div class="span4 pull-right">{$SiteDescription}</div>
      </div>
    </div>
  </div>

</div>
<!--{include file="`$theme_name`/footer.html"}-->