<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<title>{$page_title} - {$site_title}</title>
<base href="{$SiteUrl}">
<meta name ="keywords" content="{$metakeywords}">
<meta name ="description" content="{$metadescription}"> 
<link rel="stylesheet" type="text/css" href="{$theme_img_path}css/basic.css" />
<script src="{$WebRootUrl}scripts/jquery.js"></script>
<script src="{$WebRootUrl}scripts/langs/{$JsLanguage}.js" charset="{$charset}"></script>
<script>
var input_keywords = "{lang input_keywords}";
</script>
<!-- {literal} -->
<script>
$(document).ready(function(){
	$("#all_cats").click(function(){
		$("#sub_cats").slideToggle("fast",function(){ $("#all_cats").toggleClass("tbos2"); $("#all_cats").toggleClass("tbos");} );
	});
});
</script>
<!-- {/literal} -->
</head>
<body>
<!--top-->
<div id="shortcuts">
  <div class="container">
  <div class="pull-right"><a href="{$WebRootUrl}">{lang back_portal}</a>&nbsp;|&nbsp;<!-- {if !$pb_username} --><a href="{$WebRootUrl}logging.php" id="lb">{lang pls_login}</a><!-- {else} -->{$_hello|sprintf:$pb_username}&nbsp;|&nbsp;<a href="{$WebRootUrl}redirect.php?url=/virtual-office" target="_officeroom">{lang my_office_room}</a><!-- {/if} --></div>
  </div>
</div>
<div id="header">
  <div class="container">
    <div class="row">
      <div class="span4">
        <a href="{$WebRootUrl}"><img title="logo" src="{$WebRootUrl}{$site_logo}" border=0 alt="{$site_banner_word}"></a>
      </div>
      <div class="span12 offset1">
        <form name="search_frm" method="get" action="{$smarty.server.PHP_SELF}">
            <div class="Tit">
              <!-- {foreach from=$top_modules name=module item=module key=key} -->
              <!-- {if $key eq $smarty.get.do} -->
              <strong>{$module}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
              <!-- {else} -->
              <a href="{the_url module=list extra=do,`$key`|typeid|pos|total_count}">{$module}</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <!-- {/if} -->
              <!-- {/foreach} -->
            </div>
            <input value="{$smarty.get.q|urldecode}" name="q" id="kw" size="42" maxlength="90"> <input type="hidden" name="do" value="{$smarty.get.do}"> <span class="btn_wr"><input type="submit" onmouseout="this.className='btn'" onmousedown="this.className='btn btn_h'" class="btn" id="su" value="{lang search_now}"></span>

        </form>
      </div>
    </div>
  </div>
</div>
<div id="main" class="container">
  <div class="search_option cl">
    <div id="gxszHead" class="pull-left"><a href="javascript:;" onclick="$('#tbd').toggle();">{lang hide_or_show_option}</a></div>
    <div class="pull-right">{$_search_result_paging|sprintf:"`$highlight_str`":"`$paging.total`":"`$paging.from`":"`$paging.to`":"`$TimeSpend`"}</div>
  </div>

  <div class="row">
    <div class="span4">
      
      <!-- {foreach from=$modules name=module item=module key=key} -->
      <!-- {if $smarty.foreach.module.iteration==1} -->
        <div class="tbos" id="all_cats"><a href="javascript:;" id="link_all_cats" class="q">{lang all_of}{$module}</a></div>
        <div id="sub_cats">
          <!-- {foreach from=$cats item=item1 key=key1} -->
          <div class="tbou"><a href="{the_url module=list extra=typeid,`$key1`|pos|total_count}" class="q" style="{if $smarty.get.typeid eq $key1}font-weight:bold;{/if}">{$item1}</a></div>
          <!-- {/foreach} -->
        </div>
        <!-- {else} -->
      <div class="tbos2"><a href="{the_url module=list extra=do,`$key`|typeid|pos|total_count}" class="q">{$module}</a></div>
      <!-- {/if} -->
      <!-- {/foreach} -->

      <div class="mod">
        <div class="mod-hd">
          <h3>{lang sort_screening}</h3>
        </div>
        <div class="mod-bd">
          <!-- {industry level=1} -->
          <a title="{$industry.title}" href="{the_url module=list extra=do,`$key`|industryid,`$industry.id`}">{$industry.title}</a>
          <!-- {/industry} -->
        </div>
      </div>

      <div class="mod">
        <div class="mod-hd">
          <h3>{lang orderby_method}</h3>
        </div>
        <div class="mod-bd">
          <a title="" href="{the_url module=list extra=do,`$smarty.get.do`|orderby,dateline}">{lang sort_by_date}</a>
        </div>
      </div>
      
    </div>
    <div class="span9">
      <div id="res" class="med">
        <div>
          <ol>
           <!-- {foreach from=$items name="result" item="item"} -->
            <li class="g">  
            <h3 class="r"><font color="#261cdc">[{$item.typename}]</font>&nbsp;<a title="{$item.title}" target="_blank" href="{$item.url}" class="l">{$item.title|truncate:20}</a><!-- {if $item.gradeimg} --><a title="{$item.gradename}" href="{$item.url}"><img src="{$item.gradeimg}" alt="{$item.gradename}"></a><!-- {/if} -->
            </h3>
            <div class="s">
                <!-- picture -->
                <div class="tbt2">
                <!-- {if $item.picture or $item.image} -->
                <a target="_blank" href="{$item.url}"><img height="70" width="79" src="{$WebRootUrl}{$item.thumb}"></a>
                <!-- {/if} -->
                </div><!-- picture END -->
                {$item.digest|truncate:100}<br><cite><!-- {if $item.extra} -->{$item.extra}<!-- {else} -->{$item.url}<!-- {/if} --> - ({$item.pubdate})</cite>
            </div>
        
            </li>
            <!-- {foreachelse} -->
            <div id="no_result" style="font-size: 14px; line-height: 200%; color: #000000; text-align: center; padding-top: 40px; width: 560px; word-wrap: break-word;">
            <img src="{$WebRootUrl}{$theme_img_path}images/no_result.png">&nbsp;&nbsp;{$no_result_tip}</div>
            <!-- {/foreach} -->
          </ol>
        </div>
        
        

        <div class="p">
          <div class="jogger"><!-- {pager rowcount=`$paging.total` limit=10 txt_prev=`$_prev_page` txt_next=`$_next_page`} --></div>
        </div>
        

        <div class="kgd">
          <div id="rs">
            <table cellpadding="0">
              <tbody>
                <tr>
                  <th class="tt" rowspan="2">{lang similar_search}</th>
                  <!-- {foreach from=$similar_search item=item name=similar} -->
                  <th><a href="{the_url module=list extra=q,`$item.title`|total_count|pos|typeid}">{$item.title}</a>
                  </th><td></td>
                  <!-- {if $smarty.foreach.similar.iteration is div by 5} -->
                  <th></th>
                  </tr><tr>
                  <!-- {/if} -->
                  <!-- {/foreach} -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div style="margin-top: 1.4em; text-align: center;" class="clr">
            <div style="clear: both; padding-left: 130px; background: none repeat scroll 0% 0% rgb(255, 255, 255); overflow: hidden; height: 50px; text-align: left;">
            <form name="f1" action="{$smarty.server.PHP_SELF}"><span style="margin-bottom: 7px; height: 22px;"><input value="{$smarty.get.q|urldecode}" name="q" id="kw" rel="kw" size="42" maxlength="90"> <input type="hidden" name="do" value="{$smarty.get.do}"> <span class="btn_wr"><input type="submit" onmouseout="this.className='btn'" onmousedown="this.className='btn btn_h'" class="btn" id="su" value="{lang search_now}"></span></form></div>
        </div>
        
      </div>
    </div>

    <div class="span4">
        <ol>
          <!-- {pb:company row=5} -->
          <li style="height: auto; overflow: hidden;">
              <h3><a title="{$company.name}" target="_blank" href="{$company.url}" id="an1">{$company.name}</a></h3>{lang main_business}{lang colon}{$company.main_prod|truncate_multi:25}
              </li>
          <!-- {/pb:company} -->
        </ol>
    </div>
  </div>

</div>
  <div id="tads" class="tads">
		<ol>
  		<!-- {adword row=3} -->
  		<li class="tas">
  		<div class="vsta">
  			<h3><a target="_blank" href="{$adword.target_url}" id="pa1">{$adword.title}</a></h3>
  			<span class="ac">{$adword.content}</span>
  			<span><cite>{$adword.url}</cite></span>
  			<table style="margin-top: 4px;" class="slk"><tbody><tr><td style="padding-left: 14px; vertical-align: top;"></td></tr></tbody></table>
  		</div>
  		</li>
  		<!-- {/adword} -->
		</ol>
	</div>





</div>
<div id="footer">
  <div class="container">
    <!--{userpage row=15 sep="<span>|</span>"}-->
      {$page.link}
    <!--{/userpage}-->
    <p>{$site_name} {lang copyright}&copy;&nbsp;{lang service_hotline} {$service_tel}&nbsp;{lang service_email}:{mailto text="`$service_email`" address="`$service_email`" encode="javascript"}&nbsp;<a href="javascript:;" onclick="{literal}$('html, body').animate({scrollTop: '0px'}, 300);return false;{/literal}">{lang go_top}</a>     </p>
    <p>{$icp_number}</p>
    
    
  </div>
</div>
<script language="javascript" src="scripts/highlight.js"></script>
<!-- {if $highlight_str} -->
<script>
$('#res div:not("#no_result,#rs")').highlight('{$highlight_str}');
</script>
<!-- {/if} -->
</body>
</html>