<!--{include file="`$theme_name`/header.html" page_title="`$_hr`" nav_id=9}-->
<script src="scripts/langs/{$JsLanguage}.js" charset="{$charset}"></script>
<div id="main" class="container">
	<div class="row">
		<div class="side-bar l-col span4">
			<div class="mod">
				<div class="mod-hd">
					<h3>{lang industry_sort}</h3>
				</div>
				<div class="mod-bd">
					<!-- {get from="type" name="jobtype" var="Items"} -->
					<!-- {if $Items|@count eq 0} -->
					<!-- {get var="IndustryList" from="industry"} -->
					<!-- {else} -->
					<!-- {assign var="IndustryList" value=`$Items`} -->
					<!-- {/if} -->
					<div class="job_type_c">
		            <!--{foreach from=$IndustryList name=IndustryList item=industry_item}-->
					  <h3><em><a href="hr/list.php?industryid={$industry_item.id}" title="{$industry_item.name}">{$industry_item.name}</a></em></h3>
						<div class="cb">
		                	<!--{foreach from=$industry_item.child item=industry_item2 key=industry_key2}-->
		                    <a href="hr/list.php?industryid={$industry_item2.id}" title="{$industry_item2.name}">{$industry_item2.name}</a><em>|</em>
		                    <!--{/foreach}-->
		              </div>
		           	<!--{/foreach}-->
					</div>
				</div>
			</div>
		</div>
		<div class="main-content r-col span13">
			<div class="row">
				<div class="l-col span9">
					<div class="mod">
						<div class="mod-hd">
							<h2>{lang jobs_search}</h2>
						</div>
						<div class="mod-bd">
							<form action="hr/list.php" method="get">
					            <input type="hidden" name="do" value="search" />
								<div class="clearfix">
									<label for="">{lang salary}</label>
									<div class="input">
										<select name="data[salary_id]">
											{html_options options=$Salary}
										</select>
									</div>
								</div>
								<div class="clearfix">
									<label for="">{lang jobs_area}</label>
									<div class="input">
										<div id="dataArea">
												<select name="data[area_id1]" id="dataAreaId1" class="level_1" style="width:90px;"></select>
												<select name="data[area_id2]" id="dataAreaId2" class="level_2" style="width:90px;"></select>
												<select name="data[area_id3]" id="dataAreaId3" class="level_3" style="width:90px;"></select>
										</div>
									</div>
								</div>
								<div class="clearfix">
									<label for="">{lang keyword}</label>
									<div class="input">
										<input type="text" name="q" value="" class="job_gjz" />
									</div>
								</div>
								<div class="actions">
									<input type="submit" value="{lang search}" class="btn primary" />
								</div>
								
							</form>
						</div>
					</div>
					
				</div>
				<div class="r-col span4">
					<div class="mod">
						<div class="mod-hd">
							<h5>{lang after_free_reg}</h5>
						</div>
						<div class="mod-bd">
							<p><a>{lang build_your_site}</a></p>
							<p><a>{lang post_offer_trade}</a></p>
							<p><a>{lang spread_your_products}</a></p>
							<p><a>{lang meet_more_friends}</a></p>
							<div class="">
			                <a href="member.php" class="btn">{lang free_reg}</a>
			            	</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mod">
				<div class="mod-hd">
					<h2>{lang hot_area}</h2>
				</div>
				<div class="mod-bd">
					<!--{area level=1}-->
		            <a href="hr/list.php?areaid={$area.id}">{$area.title}</a>
		            <!--{/area}-->
				</div>
			</div>
			<div class="mod">
				<div class="mod-hd">
					<span class="title_more"><a href="hr/list.php">{lang more}&raquo;</a></span>
					<h2><span class="corner_t_m title_mouse">{lang new_hr}</span></h2>
				</div>
				<div class="mod-bd">
					<ul>
		                <!-- {job row=28} -->
							<li><p class="fl">{$job.link}</p><em class="fr"><a href="{$job.space_url}">{$job.companyname}</a></em></li>
		                <!-- {/job} -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
var app_language = '{$AppLanguage}';
var area_id1 = 0;
var area_id2 = 0;
var area_id3 = 0;
</script>
<script src="scripts/multi_select.js" charset="{$charset}"></script>
<script src="scripts/script_area.js"></script>
<!--{include file="`$theme_name`/footer.html"}-->