<!--{include file="`$theme_name`/header.html" page_title="`$_brands`" nav_id=10}-->
<style type="text/css">
@import url({$theme_img_path}css/effect.css);
</style>
<script src="scripts/jquery.hover.js"></script>
<div id="main" class="container">
	
	<div class="row">
		<div class="side-bar l-col span4">
			<div class="mod">
				<div class="mod-hd">
					<h2>{lang brands} {lang categories}</h2>
				</div>
				<div class="mod-bd">
					<ul class="info-list">
						<!-- {get from="type" name="brandtype" var="Items"} -->
						<!--{foreach from=`$Items` name=brandtype item=brandtype}-->
						<li>
						   <h3><a href="brand/list.php?catid={$brandtype.id}">{$brandtype.title}</a></h3>
						   <!-- {if $brandtype.child} -->
						   <ul>
							<!--{foreach from=$brandtype.child item=item_child}-->
							   <li><a href="brand/list.php?catid={$item_child.id}">{$item_child.title}</a></li>
							<!--{/foreach}-->
						   </ul>
						   <!-- {/if} -->
						</li>
					  	<!--{/foreach}-->
					</ul>
				</div>
			</div>

			<div class="mod">
				<div class="mod-hd">
					<h2>{lang brands} {lang information}</h2>
				</div>
				<div class="mod-bd">
					<ul class="info-list">
					 <!-- {pb:news row=10 name="item"} -->
					 <li>{$item.link}</li>
					 <!-- {/pb:news} -->
				   	</ul>
				</div>
			</div>
		</div>
		<div class="main-content r-col span13">
			<div class="mod">
				<div class="mod-hd">
					<h2>{lang area_prices}</h2>
				</div>
				<div class="mod-bd">
				 {category name="area" depth="1"}
				 {foreach from=$category item=item}
				 <a href='product/price.php?action=search&areaid={$item.id}'><span>{$item.name}</span></a>
				 {/foreach}				 
				</div>
			</div>
			
			<!-- {get from="type" name="brandtype" var="BrandTypes" multi=true} -->
				<!--{foreach from=$LatestBrands item=item_sort key=key_brand}-->
				<div class="mod">
					<div class="mod-hd">
						<h2><span class="title_mouse">{$BrandTypes[$item_sort.type_id].name} {lang brands}</span><span class="sub_category">
						<span class="title_more"><a href="brand/list.php?catid={$item_sort.type_id}" title="{lang more}"><span class="raquo">&raquo;</span>{lang more}</a></span>
						</span></h2>
					</div>
					<div class="mod-bd">
						<ul class="info-list media-list">
							<!--{foreach from=$item_sort.brands item=item_brand_child key=key_brand_child}-->
							<li class="item-fifth">
							<a class="image" href="brand/detail.php?id={$item_brand_child.id}"><img src="attachment/{$item_brand_child.picture}.small.jpg" /></a>
							<p class="title">{$item_brand_child.name}</p>
							</li>  
							<!--{/foreach}-->
						</ul>
					</div>
				</div>	
				               
				<!--{/foreach}-->
		</div>
	</div>	
</div>

<script>
$("#SearchFrm").attr("action","{the_url module=search do=brand}");
$("#topMenuProduct").addClass("lcur");
</script>
<!--{include file="`$theme_name`/footer.html"}-->