<!--{include file="`$theme_name`/header.html" page_title="`$page_title`" nav_id=10}-->

<div id="main" class="container">
    <div class="breadcrumb"><span>{$position}</span></div>  
    <div class="mod">
            <div class="mod-hd"><h2>{lang sort_choose}</h2></div>
            <div class="mod-bd">
            <!--{foreach from=$Types item=item1}-->
                <a href="brand/list.php?catid={$item1.id}"><span>&bull; {$item1.name}</span></a> 
            <!--{/foreach}--> 
            </div>
    </div>

    <div class="row">
        <div class="main-content l-col span13">
            <div class="mod">
                <div class="mod-hd">
                    <div class="pagination2"><!-- {pager rowcount=`$paging.total`} --></div>
                </div>
                <div class="mod-bd">
                    <ul class="info-list media-list">
                        <!--{foreach from=$items item=item}-->
                         <li class="item-fifth">
                            <a class="image" href="brand/detail.php?id={$item.id}"><img src="{$item.image}" /></a>
                            <p class="title"><a href="brand/detail.php?id={$item.id}">{$item.name}</a></p>
                         </li>
                        <!--{foreachelse}-->
                            <span style="margin-left:20px;">{lang no_brand_and_add}</span>
                        <!--{/foreach}-->
                                 
                    </ul>
                </div>
                <div class="mod-ft">
                    <div class="pagination2"><!-- {pager rowcount=`$paging.total`} --></div>
                </div>
            </div>  
        </div>

        <div class="side-bar r-col span4">
            <div class="mod">
                <div class="mod-hd">
                    <h2>{lang latest_news}</h2>
                </div>
                <div class="mod-bd">
                    <ul>
                        <!-- {pb:news typeid=1 row=10 name="item"} -->
                         <li><a href="{$item.url}">&bull; {$item.title}</a></li>
                        <!-- {/pb:news} -->
                    </ul>
                </div>
            </div>

            <div class="mod">
                <div class="mod-hd">
                     <h2>{lang brands} {lang commend}</h2>
                </div>
                <div class="mod-bd">
                    <ul>
                        <!-- {brand type="commend" row=12} -->
                         <li>{$brand.link}</li>
                        <!-- {/brand} -->
                    </ul>
                </div>
            </div>
        </div>
    </div>  
</div>
	
<script>
$("#SearchFrm").attr("action","{the_url module=search do=brand}");
$("#topMenuProduct").addClass("lcur");
</script>
<!--{include file="`$theme_name`/footer.html"}-->