<!--{include file="`$theme_name`/header.html" page_title="`$page_title`" nav_id=5}-->
<script language="javascript" src="scripts/jquery/jquery.form.js"></script>
<!-- {literal} -->
<script type="text/javascript">
$(document).ready( function() {
	$("#rp").hide();
    var options = { 
		//url:'virtual-office/fair.php',
        target:        '#rp',   // target element(s) to be updated with server response 
        beforeSubmit:  function(){$("#rp").show();},  // pre-submit callback 
        success:       function(html){alert(html);},  // post-submit callback 
        timeout:   3000 
    }; 
    $('#btnJoinFair').click(function() { 
        $("#JoinFair").ajaxSubmit(options); 
        return false; 
    });
});
</script>
<!-- {/literal} -->
<div id="main" class="container">
	<div class="breadcrumb"><span>{$position}</span></div>
	<div class="row">
		<div class="span13 main-content">
			<div class="page-heading">
				<h1>{$item.name}</h1>
			</div>

			<div class="mod">
				<div class="mod-hd">
					<h2><span class="title_mouse">{lang fair_introduction}</span></h2> 
				</div>
				<div class="mod-bd">
					<!-- {the_attachment name=`$item.picture`} -->
					<p>{$item.description}</p>
				</div>
			</div>

			<div class="mod">
				<div class="mod-hd">
					<h2><span class="title_mouse">{lang fair_content}</span></h2>  
				</div>
				<div class="mod-bd">
					{lang fair_time} {$item.begin_date} {lang arrive_to} {$item.end_date}<br />
					{lang address} {$item.address}<br />
					{lang fair_size} {$item.scope}<br />
					{lang organizer}{$item.hosts}<br />
					{lang sponsor} {$item.organisers}<br />
					{lang support} {$item.sponsors}<br />
					{lang co_organizer} {$item.co_organisers}<br />
					{lang contact} {$item.contacts}<br />
					{lang notes} {$item.important_notice}<br />
				</div>
			</div>
		</div>
		<div class="span4 side-bar">
			<div class="mod">
				<div class="mod-hd">
					<h3>{lang fair_enter_name}</h3>
				</div>
				<div class="mod-bd">
					<form name="join_fair" id="JoinFair" action="virtual-office/fair.php" method="post">
					  <!-- {formhash} -->
				      <input type="hidden" name="do" value="join" />
				      <input type="hidden" name="is_ajax" value="1" />
				      <input type="hidden" name="id" value="{$item.id}">
					  <span style="display: inline-block">
				      <input type="button" name="btn_join_fair" id="btnJoinFair" class="submit_w91" value="{lang enter_name_fair}"/></span>
					  &nbsp;&nbsp;<span id="rp" style="display: inline-block"><img src="images/loading.gif" /></span>
				    </form>
				</div>
			</div>	
			<div class="mod">
				<div class="mod-hd">
					<h3>{lang fair_business}</h3>
				</div>
				<div class="mod-bd">
					<ul class="ex_con_rightlist" >
				        <!--{foreach from=$Items name=expomember item=expomember}-->
						<li><a href="{the_url module=space userid=`$expomember.userid`}" target="_blank">{$expomember.name}</a></li>
				        <!--{/foreach}-->
					</ul>
				</div>
			</div>	
			
		</div>
	</div>	
</div>

<!--{include file="`$theme_name`/footer.html"}-->