<!--{include file="`$theme_name`/header.html" page_title="`$_fair`" nav_id=5}-->
<div id="main" class="container">
  

  <div class="row">
    <div class="span13">
      <div class="row">
        <div class="span4">
          <div class="exh_con_img">
           <!-- {pb:ads type="focus" from="fair"} --><!-- This text is replaced by the Flash movie. --><!-- {/pb:ads} -->
          </div>
        </div>
        <div class="span9">
          <div class="mod">
            <div class="mod-hd">
            <h2>{lang recommended_fair}</h2>
            </div>
            <div class="mod-bd">
              <div class="main clearfix">
                 <!-- {pb:fair type=commend row=1 infolen=35 name="item"} -->
                 <div class="net_content_img"><img src="{$item.src}" /></div>
                 <div class="net_content_intro">
                   <h3>{$item.link}</h3>
                   <p>{$item.content}&nbsp;&nbsp;<span><a href="{$item.url}">{lang detail}</a></span> </p>
                 </div>
                 <!-- {/pb:fair} -->
              </div>
              <div class="net_meeting">
                <ul>
                <!-- {pb:fair row=2} -->
                <li><span class="net_meeting_title">{$fair.link}</span><span class="net_meeting_time pb_datetime">[{$fair.pubdate}]</span></li>
                <!-- {/pb:fair} -->
                </ul>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
        
      <div class="mod">
        <div class="mod-hd">
          <h2><span class="title_more"><a href="{the_url module=search do=fair}"><span class="raquo">&raquo;</span>{lang more}</a></span>{lang new_fair}</h2>
        </div>
        <div class="mod-bd">
          <div class="exh_recent">
            <ul class="info-list two-cols-list">
             <!-- {get_cache var="types" name="type"} -->
              <!-- {pb:fair row=24} -->
                <li><span class="sort"><a href="fair/list.php?typeid={$fair.expotype_id}">[{$types.expotype[$fair.expotype_id]}]</a></span><span class="title">{$fair.link}</span><span class="date pb_datetime">[{$fair.pubdate}]</span></li>
              <!-- {/pb:fair} -->
            </ul>
          </div>
        </div>
      </div>  
    </div>
    <div class="span4">
      <div class="mod">
        <div class="mod-hd">
          <h2><span class="title_more"><a href="fair/list.php"><span class="raquo">&raquo;</span>{lang more}</a></span>{lang hot_fair}</h2>
        </div>
        <div class="mod-bd">
          <ul class="info-list">
            <!-- {pb:fair row=10 type="hot"} -->
            <li>{$fair.link}</li>
            <!-- {/pb:fair} -->
          </ul>
        </div>
      </div>  

      <div class="mod search-tool">
        <div class="mod-hd">
          <h2><span class="title_more"><a href="{the_url module=search do=fair}"><span class="raquo">&raquo;</span>{lang more}</a></span>{lang find_fair}</h2>
        </div>
        <div class="mod-bd">
          <form action="fair/list.php" name="search_fair_frm" id="SearchFairFrm">
              <input type="hidden" name="action" value="search">
          
              <label>{lang keyword}</label>
              <div class="input"><input name="q" type="text" style="width:100px; color:gray;" value="{lang input_keywords}"/></div>
              <div class="actions">
                <input type="button" value="{lang search}" class="btn" onclick="$('#SearchFairFrm').submit();" />
              </div>
          </form>
        </div>
      </div>  
    </div>
  </div>

   
</div>

<!--{include file="`$theme_name`/footer.html"}-->